{% extends "base.html" %}
{% load static %}

{% block head %}
    <title>Vportfolio</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contacto.css' %}">
{% endblock %}

{% block content %}
<div class="center">
    <h1 class="form-title">ENVIAR EMAIL</h1>
    <form method="POST" action="{% url 'contacto' %}" class="contact-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" id="nombre" class="form-input" placeholder="Nombre">
        </div>

        <div class="form-group">
            <label for="email" class="form-label">Email:</label>
            <input type="text" name="email" id="email" class="form-input" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="asunto" class="form-label">Asunto:</label>
            <input type="text" name="asunto" id="asunto" class="form-input" placeholder="Asunto">
        </div>

        <div class="form-group">
            <label for="mensaje" class="form-label">Mensaje:</label>
            <textarea name="mensaje" id="mensaje" class="form-input" placeholder="..."></textarea>

        </div>
        <center>
        <button type="submit" class="submit-btn">Enviar</button>
        </center>
    </form>
</div>

{% if messages %}
    {% for message in messages %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% endblock %}
