{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Curriculum</title>
<link rel="stylesheet" href="{% static 'css/curriculum.css' %}">
{% endblock %}

{% block content %}

<center>
    <div class="content-container">
        <!-- Mitad izquierda con imagen de fondo -->
        <div class="left-half">
            <img src="{% static 'images/aboutMe.png' %}" alt="Imagen de fondo" class="background-image">
        </div>

        <!-- Mitad derecha con botones -->
        <div class="right-half">
            <div class="button-container">
                <a href="{% url 'crear_curriculum' %}" class="button">Añadir Curriculum</a>
                <a href="{% url 'generar_curriculum' pkcur %}" class="button">Generar PDF</a>
            </div>
        </div>
    </div>
</center>
{% endblock content %}
