{% extends "base.html" %}
{% load static %}
{% block head %}
    <title>Iniciar Sesión</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="{% static 'css/cssUsers.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
{% endblock %}

{% block content %}
    <br><br><br>
    <div>
        <p style="font-size: 24px;">INICIAR SESIÓN</p>
        <hr>
        <form method="post">
            {% csrf_token %}
            <label for="username">Username:</label>
            <input type="text" name="username" required>
            <label for="password">Password:</label>
            <input type="password" name="password" required>
            <button type="submit">Login</button>
            <a href="{% url 'home' %}" class="">Cancelar</a>
            {% if error %}
                <p class="error-message">{{ error }}</p>
            {% endif %}
        </form>
    </div>
{% endblock content %}
{% block scripts %}{% endblock scripts %}
