
{# error: poner base.html aquí #}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/navbar.css' %}">
    <style>
        .navbar-personalizada {
            /*background-color: #f8f9fa;*/
            padding: 10px;
        }
        .lista-navbar {
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
        }
        .lista-navbar li {
            position: relative;
            margin-right: 10px; /* Espaciado entre elementos */
        }
        .lista-navbar a {
            text-decoration: none;
            {#color: #007bff;#}
            padding: 10px;
        }
        .lista-navbar a:hover {
            {#color: #0056b3;#}
        }
        .dropdown {
            display: none; /* Inicialmente oculto */
            position: absolute;
            top: 100%; /* Posiciona debajo del elemento */
            left: 0;
            background-color: #771011;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
            z-index: 1; /* Asegura que esté encima de otros elementos */
        }
        .dropdown a {
            display: block; /* Cada elemento ocupa su propia línea */
            padding: 10px;
            {#color: #007bff;#}
            text-decoration: none;
        }
        .dropdown a:hover {
            background-color: #f0f0f0; /* Color de fondo al pasar el ratón */
        }
        .lista-navbar li:hover .dropdown {
            display: block; /* Muestra el menú al pasar el ratón */
        }
    </style>
{% endblock %}
<nav class="navbar-personalizada">
    <div class="contenedor-navbar">
        <div class="encabezado-navbar">
            {% if request.user.is_authenticated %}
                {# <a href="/"><img src="{% static 'images/logo.png' %}" alt="Logo" width="50" height="50"></a> #}
            {% endif %}
        </div>

        <div id="navbar" class="contenido-navbar">
            <ul class="lista-navbar">
                {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'home' %}" class="{% if request.path == '/' %}active{% endif %}">Inicio</a></li>
                    <li><a href="{% url 'sobremi' %}" class="{% if request.path == '/sobremi/' %}active{% endif %}">Sobre Mi</a></li>
                    <li><a href="{% url 'habilidades' %}" class="{% if request.path == '/habilidades/' %}active{% endif %}">Habilidades</a></li>
                    <li><a href="{% url 'categorias' %}" class="{% if request.path == '/categorias/' %}active{% endif %}">Categorías</a></li>
                    <li><a href="{% url 'estudios' %}" class="{% if request.path == '/estudios/' %}active{% endif %}">Estudios</a></li>
                    <li><a href="{% url 'experiencias' %}" class="{% if request.path == '/experiencias/' %}active{% endif %}">Experiencias</a></li>
                {% endif %}

                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li>
                        <a href="#" class="dropdown-toggle">About Me</a>
                        <div class="dropdown">
                            <a href="{% url 'habilidades' %}">Habilidades</a>
                            <a href="{% url 'categorias' %}">Categorías</a>
                            <a href="{% url 'home' %}">Metas</a>
                            <a href="{% url 'home' %}">Blog</a>
                        </div>
                    </li>
                    <li>
                        <a href="#" class="dropdown-toggle">Pathway</a>
                        <div class="dropdown">
                            <a href="{% url 'habilidades' %}">Estudios</a>
                            <a href="{% url 'categorias' %}">Experiencias</a>
                            <a href="{% url 'subir_imagenes' %}">Galeria</a>
                            <a href="{% url 'subir_videos' %}">Multimedia</a>
                            <a href="{% url 'listar_entrevistadores' %}">Entrevistadores</a>
                            <a href="{% url 'pintar_curriculum' pkcur=1 %}">Curriculum</a>
                            <a href="{% url 'crear_noticia' %}">Crear Noticia</a>
                            <a href="{% url 'lista_noticias' %}">Noticias</a>
                        </div>
                    </li>
                {% endif %}
            </ul>

            <ul class="lista-navbar lista-navbar-derecha">
                {% if request.user.is_authenticated %}
                    <button class="Btn"onclick="window.location.href='{% url 'cerrar' %}'">
                        <div class="sign">
                            <svg viewBox="0 0 512 512">
                                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"></path>
                            </svg>
                        </div>
                        <div class="text">Logout</div>
                    </button>
                {% endif %}

                {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
                    <button class="loginButton" onclick="window.location.href='{% url 'login' %}'"> Log In
                        <div class="iconButton">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </button>
                    <button class="registerButton" onclick="window.location.href='{% url 'register' %}'"> Sign Up
                        <div class="iconButton">
                            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0 0h24v24H0z" fill="none"></path>
                                <path d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z" fill="currentColor"></path>
                            </svg>
                        </div>
                    </button>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>




























