{% extends "base.html" %}
{% load static %}

{% block head %}
<title>Vportfolio</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/multimedia.css' %}">

    <style>
    
    </style>
{% endblock %}

{% block content %}

<h2 class="titulo">Galería</h2>
    
<div>
<form method="post" enctype="multipart/form-data" style="text-align: center; margin-bottom: 20px;">
    {% csrf_token %}
    <input type="file" name="imagenes" multiple required>
    <button type="submit" class="btn-subirImg">Subir</button>
</form>
</div>


<div class="galeria">
    {% for imagen in imagenes %}
        {% if imagen.imagen %}
            <div>
                <!-- Imagen pequeña en la galería -->
                <img src="{{ imagen.imagen.url }}" alt="{{ imagen.imagen }}" onclick="mostrarImagen('{{ imagen.imagen.url }}')">
                <p class="project-title">Your Project Title Here</p>

                <button class="btn-imagen-editar" type="button" onclick="mostrarInput('{{ imagen.id }}')">Editar</button>

                <form method="post" action="{% url 'editar_imagen' imagen.id %}" enctype="multipart/form-data" id="form-editar-{{ imagen.id }}" style="display: none;">
                    {% csrf_token %}
                    <input type="file" name="nueva_imagen" required>
                    <button class="btn-imagen-editar" type="submit">Guardar</button>
                </form>

                <form method="post" action="{% url 'eliminar_imagen' imagen.id %}">
                    {% csrf_token %}
                    <button class="btn-imagen-eliminar" type="submit">Eliminar</button>
                </form>
            </div>
        {% endif %}
    {% endfor %}
</div>

<!-- Modal para ver la imagen grande -->
<div id="modal" class="modal">
  <span class="close" onclick="cerrarModal()">&times;</span>
  <img class="modal-content" id="imagen-grande">
</div>

{% endblock content %}

{% block scripts %}
<script>
    // JavaScript para mostrar el campo de entrada de archivo y el botón de "Guardar" solo al hacer clic en "Editar"
    function mostrarInput(imagenId) {
        // Oculta todos los formularios de edición para evitar duplicados visibles
        document.querySelectorAll('[id^="form-editar-"]').forEach(form => form.style.display = 'none');

        // Muestra el formulario correspondiente a la imagen seleccionada
        document.getElementById('form-editar-' + imagenId).style.display = 'block';
    }

    // Función para abrir el modal y mostrar la imagen ampliada
    function mostrarImagen(url) {
        var modal = document.getElementById("modal");
        var modalImg = document.getElementById("imagen-grande");
        modal.style.display = "block";
        modalImg.src = url;
    }

    // Función para cerrar el modal
    function cerrarModal() {
        var modal = document.getElementById("modal");
        modal.style.display = "none";
    }
</script>
{% endblock %}
